
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;   
    inline-size: 800px;   
    position: absolute;
    top: 30%;
    left: 30%;

}

.parrafo {
    background: black;
    color: white;
    font-style: italic;
    font-size: 25px;   
    width: 100%;
    
    /* border: 1px solid red; */

}

p {
    
    color: blue;
    /* border: 1px solid red; */
}


.att {
    margin: 0;
}

.cabecera {
    display: flex;    
    flex-direction: row;    
    position: relative;
    /* justify-content: center; */
    align-items: center;    
    inline-size: 100% ;
    background-color: blue;
    color: red;
    font-size: 15px;

    
    /* left: 0; */
    /* padding-inline-start: 50px; */
    
   
}

.subtitulo {    
    position: relative;
    left: 50px;
}